:root {
  --white: hsl(0, 0%, 100%);
  --very-dark-blue: hsl(207, 26%, 17%);
  --dark-gray: hsl(0, 0%, 52%);
  --very-light-gray: hsl(0, 0%, 98%);
}

$mq: (
  'mobile': 375px,
  'desktop': 1440px
);

$font-weights: (
  'thin': 300,
  'regular': 600,
  'bold': 800
);

body {
  margin: 0;
  box-sizing: border-box;
  font-family: 'Nunito Sans', sans-serif;
  background: var(--very-light-gray);
}


@media (prefers-color-scheme: dark) {
  :root {
    --dark-blue: hsl(209, 23%, 22%);
    --very-dark-blue: hsl(207, 26%, 17%);
  }
}
